@use "sass:math";
@use "_colors.scss" as *;
@use "_mixins.scss" as *;

//------------------------------------------------------------------------
//-----PAGE--------------------
//------------------------------------------------------------------------
.page {
  // .page__hero
  &__hero {
  }
  // .page__benefits
  &__benefits {
    @include adaptiveValue("margin-bottom", 60, 30);
  }
}

//------------------------------------------------------------------------
//-----HERO--------------------
//------------------------------------------------------------------------
.hero {
  @include adaptiveValue("padding-block", 28, 15);
  // .hero__container
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: toRem(24);
    @media (max-width: toEm($tablet)) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: toEm(560)) {
      grid-template-columns: auto;
    }
    > .hero__item:only-child {
      @include adaptiveValue("min-height", 600, 200);
      grid-column: 1 / -1;
      grid-row: auto;
    }
  }

  // .hero__item
  &__item {
  }
}

.item-hero {
  display: flex;
  position: relative;
  @include adaptiveValue("min-height", 288, 200);
  &:nth-child(1) {
    grid-column: span 2;
    grid-row: span 2;
    .item-hero__link {
      @include adaptiveValue("padding", 60, 20);
    }
    @media (max-width: toEm($tablet)) {
      grid-row: span 1;
    }
    @media (max-width: toEm(560)) {
      grid-column: span 1;
    }
  }
  // .item-hero__link
  &__link {
    flex-grow: 1;
    @include adaptiveValue("padding", 32, 20);
    display: block;
    position: relative;
  }
  // .item-hero__body
  &__body {
    min-height: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: $white;

    @media (min-width: toEm(550)) {
      max-width: 60%;
    }
  }
  // .item-hero__picture
  &__picture {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: toRem(10);
    overflow: hidden;
    &--decor {
      border: toRem(1) solid #000;
      box-shadow: 0 toRem(4) toRem(4) 0 rgba(0, 0, 0, 0.25);
      &::before {
        content: "";
        background: linear-gradient(99deg, rgba(0, 0, 0, 0.6) 10.4%, rgba(0, 0, 0, 0) 59.43%);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        @media (max-width: toEm($mobileSmall)) {
          background: linear-gradient(99deg, rgba(0, 0, 0, 0.6) 20%, rgba(0, 0, 0, 0) 95%);
        }
      }
    }
  }
  // .item-hero__image
  &__image {
    border-radius: toRem(10);
    width: 100%;
    height: 100%;
    object-fit: cover;
    @media (max-width: toEm($tablet)) {
      object-position: center 20%;
    }
  }
}

//------------------------------------------------------------------------
//-----TYPE-1-CARD-HERO--------------------
//------------------------------------------------------------------------
.type-1-hero-item {
  gap: toRem(28);

  // .big-hero-item__title
  &__title {
    @include typography("h2", 600);
  }
  // .big-hero-item__info
  &__info {
    border-left: toRem(1) solid $successBright;
    padding-left: toRem(15);
  }
  // .big-hero-item__sale
  &__sale {
    @include typography("XL", 500);
    span {
      padding: toRem(4) toRem(12);
      border-radius: toRem(5);
      white-space: nowrap;
      @include typography("XL", 600);
      background-color: $warning;
    }
    &:not(:last-child) {
      margin-bottom: toRem(8);
    }
  }
  // .big-hero-item__label
  &__label {
    @include typography("S");
  }
  &__button {
    @media (max-width: toEm($mobileSmall)) {
      width: 100%;
    }
  }
}

//------------------------------------------------------------------------
//-----TYPE-2-CARD-HERO--------------------
//------------------------------------------------------------------------
.type-2-hero-item {
  justify-content: flex-start;
  color: $grey9;
  > * {
    margin-bottom: toRem(8);
  }
  // .summer-hero-item__label
  &__label {
    @include typography("S", 500);
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }
  // .summer-hero-item__title
  &__title {
    @include typography("h5", 600);
    margin-bottom: toRem(12);
  }
  // .summer-hero-item__text
  &__text {
    color: $grey6;
    margin-bottom: toRem(24);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

//------------------------------------------------------------------------
//-----TYPE-3-CARD-HERO--------------------
//------------------------------------------------------------------------
.type-3-hero-item {
  align-items: center;
  text-align: center;
  max-width: none;
  > * {
    margin-bottom: toRem(12);
  }
  // .type-3-hero-item__label
  &__label {
    @include typography("S", 500);
    text-transform: uppercase;
  }
  // .type-3-hero-item__title
  &__title {
    @include typography("h5", 600);
    margin-bottom: toRem(32);
  }
  &:last-child {
    margin-bottom: 0;
  }
}

//------------------------------------------------------------------------
//-----BENEFITS--------------------
//------------------------------------------------------------------------

.benefits {
  // .benefits__container
  &__container {
  }
  // .benefits__items
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: toRem(15);
    border-radius: toRem(8);
    box-shadow: 0px toRem(8) toRem(40) 0px rgba(0, 38, 3, 0.08);
    @include adaptiveValue("padding", 40, 20);
    background-color: $white;
  }
  // .benefits__item
  &__item {
  }
}
.item-benefit {
  display: flex;
  align-items: center;
  gap: toRem(16);

  // .item-benefit__picture
  &__picture {
    text-align: center;
    width: toRem(40);
    flex-shrink: 0;
  }

  // .item-benefit__icon
  &__icon {
  }
  // .item-benefit__body
  &__body {
    display: grid;
    gap: toRem(8);
  }
  // .item-benefit__title
  &__title {
    @include typography("M", 600);
    color: $grey9;
  }
  // .item-benefit__text
  &__text {
    color: $grey4;
    @include typography("S");
    line-height: 1;
  }
}
